
 
.sd{
    height: 250px;
    width:540px;
    border:  10px solid rgb(255, 255, 255);
    display: block;
    margin: auto;
} 

/* 
.slickk-arrow{
    color: rgb(0, 0, 0);
    height: 40px;
    width: 49px;
} */

.slick-prev {
    z-index:100;
    left: 20px !important;
}

.slick-next{
    z-index:100;
    right: 20px !important;
}
